.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: var(--invert-bg);
  color: var(--invert-text-color);
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--default-bg);
    color: var(--default-text-color);
    border: 1px solid var(--default-border);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: var(--invert-text-color);

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: var(--invert-text-color);
    color: var(--default-text-color);
    border: 1px solid var(--default-border);

    &:hover {
      background-color: var(--default-border);
      color: var(--invert-text-color);
      border: none;
    }
  }
}
