.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 18px;
}

.switch #checkbox-drl {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#checkbox-drl:checked + .slider {
  background-color: black;
}
#checkbox-drl:checked + .mode-label {
  left: 75.395%;
  color: white;
}

#checkbox-drl:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#checkbox-drl:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
  background-image: url('../../assets/dark.png');
}

.slider:before {
  background-color: transparent;
  background-size: cover;
  background-image: url('../../assets/light.png');
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid var(--default-border);
}

.slider.round:before {
  border-radius: 50%;
}

.darkOrLight-container {
  height: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
}

.mode-label {
  top: 22px;
  position: absolute;
  left: 77.15%;
  cursor: pointer;
}