.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--default-border);
  margin: 0 7.5px 15px;
  overflow: hidden;
  .MuiPaper-root {
    width: 30% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    &:hover {
      .MuiContentImage-root {
        background-size: 120%;
      }
    }
  }
  .MuiContentImage-root {
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    border: 1px solid var(--default-border);
    transition: background-size 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 8px !important;
  }
  .MuiCardContent-root {
    position: absolute;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    padding: 0 25px !important;
    opacity: 0.8;
    border: 1.5px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .css-h93ljk-MuiTypography-root {
    margin-bottom: none !important;
  }
}
